node_modules
.idea
*.log*
ignore
data/*
dist/*
build/*
lib/*
!build/README.md
.DS_Store
_docpress
Thumb.db
examples/data/db/service/*

# packages
package/*/lib
# package seashell-cli
packages/seashell-cli/*
!packages/seashell-cli/package.json
!packages/seashell-cli/README.md
!packages/seashell-cli/bin
# package seashell
/packages/seashell/*
!/packages/seashell/package.json
!/packages/seashell/README.md
